name: Sync to Hugging Face Hub

on:
  push:
    branches: [main]

# This workflow syncs the repository to a Hugging Face Space.

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git push --force https://KhaLood619:$HF_TOKEN@huggingface.co/spaces/KhaLood619/signbridge-api main
